@import "tailwindcss";

@theme {
  --color-background: #0f0f0f;
  --color-foreground: #161616;
  --color-primary: #700c0c;

  --animate-blink: blink 1s infinite;
}

@keyframes blink {
  0%,
  30%,
  100% {
    opacity: 1;
  }
  50%,
  70% {
    opacity: 0;
  }
}

:root {
  font-family: Google Sans Flex, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--color-background);
  }
}

button {
  cursor: pointer;
}

.neumorphic-out {
  box-shadow: -20px -20px 20px 0 rgba(255, 255, 255, 0.03),
    -2px -2px 10px 0 rgba(255, 255, 255, 0.1),
    20px 20px 40px 0 rgba(0, 0, 0, 0.5);
}

.neumorphic-out-sm {
  box-shadow: -10px -10px 10px 0 rgba(255, 255, 255, 0.03),
    -2px -2px 5px 0 rgba(255, 255, 255, 0.1),
    10px 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.neumorphic-in {
  box-shadow: inset -40px -40px 40px 0 rgba(255, 255, 255, 0.02),
    inset -5px -5px 10px 0 rgba(255, 255, 255, 0.08),
    inset 40px 40px 50px 0 rgba(0, 0, 0, 0.2),
    inset 1px 1px 5px 0 rgba(0, 0, 0, 0.6);
}
